<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinternshipbackend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinternShipBackend.NoActionBar">
        <activity
            android:name=".activities.account_management.company.ManageCompanyInternshipsActivity"
            android:label="@string/manage_jobs"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
        </activity>
        <activity
            android:name=".activities.account_management.company.RegisterCompany"
            android:label="@string/looking_for"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
        </activity>
        <activity
            android:name=".activities.account_management.intern.RegisterIntern"
            android:label="@string/looking_for"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
        </activity>
        <activity
            android:name=".activities.authentication.RegisterActivity"
            android:label="@string/register"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar" />
        <activity
            android:name=".activities.account_management.DecideUserTypeActivity"
            android:label="@string/looking_for"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar" />

        <activity
            android:name=".activities.like.LikeCompanyActivity"
            android:label="LikeUser"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.like.LikeInternActivity"
            android:label="LikeUser"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".activities.like.LikedByCompanyActivity"
            android:label="CompaniesWhoLikedMe"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->

<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>

        <activity
            android:name=".activities.authentication.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>         <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.TinternShipBackend.NoActionBar">\
        </activity>
    </application>

</manifest>